// Couleurs principales
$primary-color: #004f50;
$secondary-color: #ffffff;
$accent-color: #d9a404;
$text-color: #333;

// Couleurs complémentaires
$background-color: #f8f9fa;
$border-color: #e0e0e0;
