.galerie {
    text-align: center;
    max-width: 1200px;
   

    &__titre {
        font-size: 2rem;
        font-weight: bold;
        color: #004f50;
        margin-bottom: 2rem;
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(5, 1fr); 
        grid-template-rows: repeat(2, 250px); 
        gap: 1rem;
    }

    &__fig {
        overflow: hidden;
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease-in-out;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #fff;
        height: 100%; 
        min-height: 250px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover; 
            display: block;
            transition: transform 0.3s ease-in-out;
        }

        &:hover {
            transform: scale(1.05);
        }
    }
}

/*  Responsive */

@media screen and (max-width: 1024px) {
    .galerie__grid {
        grid-template-columns: repeat(3, 1fr); 
        grid-template-rows: repeat(4, 250px);
    }
}

@media screen and (max-width: 768px) {
    .galerie__grid {
        grid-template-columns: repeat(2, 1fr); 
        grid-template-rows: auto;
    }

    .hero {
        height: auto;
        padding: 4rem 1rem;
    }

   

    .hero__contenu {
        max-width: 90%;
        padding: 1.5rem;
    }
}

@media screen and (max-width: 480px) {
    .galerie__grid {
        grid-template-columns: 1fr; 
    }
}

