.recherche {
    display: flex;
    align-items: center;
    border: 1px solid $border-color;
    border-radius: 5px;
    overflow: hidden;
    background-color: $secondary-color;

    &__input {
        border: none;
        padding: 0.5rem;
        font-size: 1rem;
        width: 200px;

        &:focus {
            outline: none;
        }
    }

    &__btn {
        background: none;
        border: none;
        padding: 0.5rem;
        cursor: pointer;
        
        img {
            width: 20px;
            height: 20px;
        }

        &:hover {
            background-color: $primary-color;
        }
    }
}
